<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bardxhong.activitytaskmaze">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".BaseActivity" />

        <activity android:name=".MainActivity"
            android:launchMode="standard">
<!--            android:taskAffinity="com.bardxhong.activitytaskmaze.main">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BaseActivity$Standard_Activity"
            android:launchMode="standard" />

        <activity android:name=".BaseActivity$SingleInstance_Activity"
            android:launchMode="singleInstance" />

        <activity android:name=".BaseActivity$SingleIntance_Affinity_Activity"
            android:launchMode="singleInstance"
            android:taskAffinity="com.bardxhong.activitytaskmaze.affinity"/>

        <activity android:name=".BaseActivity$SingleTop_Activity"
            android:launchMode="singleTop" />

        <activity android:name=".BaseActivity$SingleTask_Activity"
            android:launchMode="singleTask" />

        <activity android:name=".BaseActivity$SingleTask_Affinity_Activity"
            android:launchMode="singleTask"
            android:taskAffinity="com.bardxhong.activitytaskmaze.affinity"/>
    </application>

</manifest>